# do not store binary artifacts in git
bin/

# do not commit archive files
**/*.tar.gz
**/*.tar
**/*.zip
**/*.out

# do not store pem files
**/*.pem

# ignore the .aws directory
.aws

# ignore output.txt
output.txt
